h1{
    text-align:center;
    text-decoration:wavy red underline;
    letter-spacing: 5px;
    font-size: 25px;
    /* font-family */
    font-family:fantasy;
}
h2{
    text-align: start;
    text-decoration: pink line-through;
    font-family:arial;
}
p{
    text-align:justify;
    font-weight:400;
    line-height:1.5;
    font-size:15px;
    font-family:sans-serif;
}
h2{
    font-weight:800;
    text-decoration:double blue overline;
    font-family:impact;
}