/* 0 2 1 */
div.greetDiv .greet{
    color: green;
}

/* 0 2 1 */
.greetDiv p.greet{
    color: blue;
}

/* 0 2 0 */
.greetDiv .greet{
    color: red;
}

/* specificity same:- cascading property
text color is blue */