/*  */
h3{
    background-color: yellow;
}

h3{
    background-color: blue;
}

button{
    background-color: green;
    color:white;
}

h1{
    color:red;
    background-color: blanchedalmond;
}

input{
    color:white;
    background-color: rgb(122, 79, 16);
}