/* Create a box using div. Set
-its height to 150px, width to 300px and the background color to grey
-Border to a 5px, black, dotted border
-A top margin of 20px
-A right margin of 1 em
-A bottom margin of 40px
-A left margin of 2em
-padding on all sides of 1em */

div{
    height:150px;
    width:300px;
    background-color: grey;
    margin:20px 1em 40px 2em;
    padding:1em;
}