/* Border-radius- circle, oval shape */

div{
    height:200px;
    width:500;
    background-color: pink;
    border:5px solid black;
    /* border-radius:50px; // for complete circle height & width must be equal*/
    border-top-right-radius:10px;
}

h1{
    border: 2px dotted green;
}
