div{
    height:200px;
    width:200px;
    background-color: rgb(0, 255, 0,1);
}

#opacity{
    background-color:#ffa511;
    /*  if we set the opacity value is 0,then color and also button, heading are all hidden */
    /* opacity:0; */
    opacity:1;
    /* div is visible by opacity value we set to 1 */
}