/* Position-static:- The top, right, bottom, left and z-index properties have no effect */
div{
    height:100px;
    width:100px;
    background-color: green;
    text-align:center;
    border:2px solid black;
    margin: 20px;
    display: inline-block;
}

#static{
    background-color: yellow;
    position:static;
    top:100px;
    left:100px;
}