
/* Set a 2px horizontal & 2px vertical, green shadow
for box4, with a 5px blur radius. */

#box4{
    width: 100px;
    height: 100px;
    background: lightgreen;
    box-shadow: 2px 2px 5px green;
}