/* flexbox-direction: It sets how flex items are placed in the container
along which axis and direction.
-flexbox-direction: row (main-axis:- left to right)
-flexbox-direction: row-reverse (main-axis:-right to left)
-flexbox-direction: column (main-axis:- top to bottom)
-flexbox-direction: column-reverse (main-axis:- bottom to top*/

#container{
    width: 80%px;
    height: 300px;
    background-color: azure;
    margin:10px auto;
    border:2px solid black;
    display: flex;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    flex-direction: column-reverse;
}
h1{
    text-align: center;
}

#container div{
    height:100px;
    width:100px;
    color:white;
    text-align: center;
    font-size:1.5em;
}
#vio{
    background-color: violet;
}
#ind{
    background-color: indigo;
}
#blu{
    background-color: blue;
}
#gre{
    background-color: green;
}
#yel{
    background-color: yellow;
}
#ora{
    background-color: orange;
}
#red{
    background-color: red;
}