/*It decides the "Stack level " of element.
Overlapping elements with a larger z-index cover those with a smaller one.*/

.box{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: pink;
}

.one{
    background-color: aquamarine;
    position: relative;
    z-index: -1;
    /* z-index: 1; */
}

.two{
    background-color: darksalmon;
    /* position relative itself item */
    position: relative;
    bottom: 50px;
    z-index: 2;
    /* z-index: -2; */
}