/* Grid template:- Repeat is used to divide all available space..

-grid-template-rows: repeat(count, 1fr)
-grid-template-columns: repeat(count, 1fr)
-grid-template-rows: repeat(2, 1fr)
-grid-template-rows: 1fr 1fr

*/
#container{
    height:300px;
    width:600px;
    background-color:yellow;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}
.item{
    width:200px;
    height:50px;
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}