#container{
    width: 600px;
    height: 300px;
    background-color: greenyellow;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    /* align-items:start;
    align-items: center; */
    justify-items: center;
    align-items: center;
}
.one{
    justify-self: start;
    align-self: end;
}
.five{
    justify-self: end;
    /* align-self: start; */
    align-self: start;
    /* align-self: end; */
}
.item{
    width: 100px;
    height: 50px;
    background-color: green;
    border: 2px solid black;
    text-align: center;
}